.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 200ms ease;
    width: 100vw; 
    flex-grow: 1;
    overflow-x: auto;
    &::-webkit-scrollbar {
        width: 3px;
    }                    
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }                    
    &::-webkit-scrollbar-thumb {
        background-color: var(--color-timeline-default);
    }    
        
    
    .timelineContainer{
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;    
        width: max-content; 
        height: 100%;    
        margin: 0 auto; 

        @media screen and (max-width: 768px){        
            margin: 0; 
        }
        
        
        .events{
            z-index: 1;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 200ms ease;
            height: 15px;
            min-width: 100%;
            border: 4px solid var(--color-event-default);
            border-radius: 50%;
            
            @media screen and (max-width: 768px){        
                flex-direction: column;
                align-items: flex-start; 
            }

           
            .eventItem{
                display: flex;

                @media screen and (max-width: 768px){        
                    flex-direction: column-reverse;
                    align-items: center; 
                    position: relative;
                }
               
                &:last-of-type .line{
                    display: none;

                    @media screen and (max-width: 768px){        
                        display: block;
                    }
                }
                &:nth-child(odd) .label{
                    top: -74px;
                    border-radius: 10px 10px 10px 0px; 

                    @media screen and (max-width: 768px){      
                        top: 120px;  
                        border-radius: 0px 10px 10px 10px;
                    }

                    &.labelMedium{
                        top: -156px;
                        
                        @media screen and (max-width: 768px){      
                            top: 120px;  
                            left: 50px;
                            min-width: 53dvw;
                        }
                    }

                    &.labelLarge{
                        top: -226px;

                        @media screen and (max-width: 768px){      
                            top: 120px;  
                            left: 50px;
                            min-width: 53dvw;
                        }
                    }
                }

                &:nth-child(odd) {
                    .textInput{
                        position: absolute;
                        top: -120px;
                        border-radius: 10px 10px 10px 0px;

                        @media screen and (max-width: 768px){   
                            top: 120px;                        
                            left: 50px;    
                            min-width: 53dvw;
                            height: 100px;
                  
                        }
                    }

                    .popover{
                        position:absolute;
                        top: -150px;

                        @media screen and (max-width: 768px){   
                            top: 120px;                            
                        }
                    }
                }   

               

                .checkboxContainer {
                    position: relative;
                    position: relative;
                    padding: 0px 15px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    input[type="checkbox"]{
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }
                    
                    input:checked ~ .checkmark{
                        background-color: var(--color-checkmark-completed);
                        transition: all 0.5s ease-in-out;                   
                        
                    }
                    input:checked ~ .checkmark::after{
                        display:block                        
                    }
                
                    .checkmark{
                        align-self: center;
                        position: absolute;
                        left:9%;
                        transform: translateY(-70%);
                        height: 25px;
                        width: 25px;
                        border: 1px var(--color-timeline-default) dashed;
                        border-radius: 50%;
                        transition: all 0.5s ease-in-out;
                        &:hover{
                            scale: 1.1
                        }
                       
                        &::after {
                            content: "";
                            position: absolute;
                            display: none;
                            left: 9px;
                            top: 4px;
                            width: 5px;
                            height: 10px;
                            border: solid var(--body-color);
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }

                }

                .line {
                    transition: all 200ms ease;
                    height: 2px;
                    align-self: center;
                    min-width: 120px;
                    background: var(--color-timeline-default);
                    transition: all 0.5s ease-in-out;

                    &.completed {
                    background: var(--color-checkmark-completed);
                    }
                    &.next-step-uncomplete {
                        background: linear-gradient(to right, var(--color-step-completed), var(--color-timeline-default));
                    }
                    &.next-step-in-progress {
                    background: linear-gradient(to right, var(--color-step-completed), var(--color-in-progress));
                    }
                    &.prev-step-in-progress {
                    background: linear-gradient(to right,var(--color-in-progress), var(--color-timeline-default));
                    }
                    @media screen and (max-width: 768px){        
                        width: 2px; 
                        min-width: unset;
                        height: 120px; 
                        align-self: center;                                
                    }
                    
                }
    
                .checkboxContainer{
                    display: inline-block;
                    position: relative;
                }
                .label {
                    position: absolute;
                    top: 60px;
                    padding: 10px;
                    background-color:var(--color-event);
                    border-radius: 0px 10px 10px 10px;
                    max-width: 155px;
                    min-width: 120px;
                    text-overflow: inherit;
                    white-space: wrap;
                    -moz-white-space: wrap;
                    overflow: hidden;
                    transition: all 0.5s ease-in-out;
                    cursor: grab;


                    @media screen and (max-width: 768px){   
                        top: 120px;                        
                        left: 50px;
                        min-width: 53dvw;
                        border-radius: 0px 10px 10px 10px;
                    }
                    
                    &:hover{
                        cursor: pointer
                    }
                    &:active{
                        cursor: grabbing;
                    }

                    &.completed {
                        color: var(--color-label-completed);
                    }

                    &.loading {
                        color: var(--color-label-loading);
                    }
                                
                    &.labelMedium{
                        top: -138px;
                    }

                    &.labelLarge{
                        top: -180px;
                    }

                    &.dragging{
                        opacity: .5;
                        transform: scale(.8);
                    }



                                        
                    & .content{
                        display: flex;
                        justify-content: flex-end;

                        .contentButton{
                            border: none;
                            background: none;
                            outline: none;
                            cursor: pointer;
                        }
                        .contentPanel{
                            position: absolute;
                            top: 0;
                            right: -150px;
                        }

                        .contentIcon{
                            color: var(--body-color);
                            margin-left: 5px;

                            &:hover{
                                cursor: pointer;
                            }
                        }
                        
                    }

                    & p {
                        margin: 0;
                    }                    
                }

                .textInput{
                    border: none;
                    position: absolute;
                    top: 30px;
                    filter: none;
                    padding: 10px;
                    background-color: var(--color-event);
                    color: white;
                    border-radius: 0px 10px 10px 10px;
                    max-width: 80px;
                    height: 150px;
                    font-size: 16px;
                    &::-webkit-scrollbar {
                        width: 3px;
                    }                    
                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    }                    
                    &::-webkit-scrollbar-thumb {
                        background-color: var(--color-timeline-default);
                    }                    
                    &:focus{
                        outline: none;
                    }              
                    
                    @media screen and (max-width: 768px){   
                        top: 120px;                        
                        left: 50px;    
                        min-width: 53dvw;
                        height: 100px;
                  
                    }
                 
                } 
                
                .popover{
                    position: absolute;
                    top: 0;
                    margin: 0;
                    background-color: var(--body-color);
                    border-radius: 6px;
                    z-index: 300;
                    color: var(--color-event);
                    border: 1px solid var(--color-event);


                    @media screen and (max-width: 768px){   
                        top: 120px;                        
                        left: 50px;                        
                    }

                    .popoverIcon{
                        display: flex;
                        padding: 0.75rem;
                        justify-content: space-between;
                        align-items: center;
                        min-width: 150px;
                        
                        
                        p {
                           margin: 0 5px 0 0;   
                           font-size: 14px;  
                        }

                        .editIcons{
                            transition: all 0.5s ease-in-out;


                            &:hover{
                                cursor: pointer;
                                color: var(--color-button-cancel)
                            }
                        }
                    }
                }
            }
            
        }
    }

    .buttonContainer{
        position: fixed;
        bottom: 5dvh;
        left: 45dvw;       
        text-align: center;   
        z-index: 150;
        display: flex;
        gap: 15px;
        
    }

}

.button {
    background-color: transparent;
    padding: 0.75rem;
    outline: none;
    border-radius: 6px;
    color: #0A0759;
    min-width: 100px;
    border: 1px solid #0A0759;
    text-transform: Uppercase;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    transition: all 0.5s ease-in-out;


    &:hover{
        cursor: pointer;
        transform: translateY(-0.25em);
    }

    &.delete{
        background-color: var(--color-button-cancel);
        color: #fff;
        border: none;
        display: inline-block;
    }

    &.edit{ 
        &:only-child{
            min-width: 80px;
            color: #0A0759;
            border: 1px solid #0A0759; 
            border-radius: 1rem;
            
            &:hover{
                background: rgb(242, 242, 253);
                
            }
            @media screen and (max-width: 768px){   
                background: rgb(242, 242, 253);                        
            }
        }
        
        &:not(:only-child){
            min-width: 80px;
            color: #0A0759;
            border: 1px solid #0A0759; 
            border-radius: 1rem;
            
            &:hover{
                background: rgb(242, 242, 253);
                
            }
            @media screen and (max-width: 768px){   
                background: rgb(242, 242, 253);                        
            }
                
            &:last-of-type{
                background-color: var(--color-button-cancel);
                color: #fff;
                border: none;
                border-radius: 1rem;                
            }
        }        

        p {
            margin: 0;
        }
    }
    
}

